.flex {
    display: flex!important;
}
.flex-row {
    flex-direction: row!important;
}
.flex-column {
    flex-direction: column!important;
}
.align-items-center {
    align-items: center!important;
}
.justify-content-center {
    justify-content: center!important;
}
.justify-content-space-between {
    justify-content: space-between!important;
}
